.CheckboxInput span {
  color: #3D495C;
  font-family: 'Epilogue', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.CheckboxInput > input {
  height: 16px;
  margin-right: 10px;
  width: 16px;
}
