.Filters {
  margin: 10px 0 25px;
  font-family: Arial, Helvetica, sans-serif;
  width: 1124px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(3, 107, 82);
  height: 75px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.Filters > h3 {
  font-weight: 700;
  font-size: 18px;
}

.Filters input[name="nameFilter"] {
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid white;
  color: white !important;
  font-size: 14px;
  height: 42px;
  border-radius: 5px;
  width: 330px;
  padding-left: 10px;
}

.Filters > select {
  height: 41px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  width: 331px;
}

.Filters span {
  color: white;
  font-weight: 400;
  font-size: 16px;
}