.Form {
  width: 405px;
}

.Form h1 {
  margin-bottom: 10px;
}

.checkboxAndButton {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 370px;
}

.checkboxAndButton > button {
  background: rgb(47, 193, 140);
  border: none;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  height: 40px;
  width: 115px;
}

.checkboxAndButton > button:disabled {
  background-color: lightgray;
}

.checkboxAndButton > button:disabled:hover {
  background-color: lightgray;
}

.checkboxAndButton > button:hover {
  background-color: rgb(40, 185, 135);
}
