.HorizontalInput {
  align-items: center;
  color: rgb(61, 73, 92);
  display: flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: space-between;
  margin: 5px 0;
  width: 100%;
}

.HorizontalInput input {
  border: 1px solid rgb(41, 49, 61);
  border-radius: 2px;
  font-size: 14px;
  height: 37px;
  margin-right: 18px;
  outline: none;
  width: 275px;
}

.HorizontalInput > div {
  align-items: center;
  display: flex;
}
