.Select {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  width: fit-content;
}

.Select > span {
  color: rgb(61, 73, 92);
  font-size: 16px;
  font-weight: 700;
}

.Select > select {
  background-color: white;
  border: none;
  border-bottom: 1px solid rgb(61, 73, 92);
  font-size: 14px;
  height: 40px;
  outline: none;
  width: 370px;
}

.Select > select:focus {
  color: rgb(61, 73, 92);
  height: 40px;
}
