.VerticalInput > div {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.VerticalInput > span {
  color: rgb(61, 73, 92);
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}

.input, .textarea {
  border: none;
  border-bottom: 1px solid rgb(61, 73, 92);
  font-size: 14px;
  margin-bottom: 6px;
  outline: none;
  width: 365px;
}

.input {
  height: 37px;
}

.textarea {
  font-family: Arial , Helvetica , sans-serif;
  height: 80px;
  resize: none;
}
